# Environment
.env

# Python
*.pyc
__pycache__/
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Testing
.pytest_cache/
reports/
htmlcov/
.coverage

# IDE
.idea/
.vscode/

# Type checking
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# Node (Juice Shop artifacts)
node_modules/
